<h1 style="margin-bottom:50px">Main Menu</h1>


<div class="row">
	<div class="text-center">
		<div class="col-md-6">
			<%= link_to image_tag("http://res.cloudinary.com/apuorientation/image/upload/v1433189633/AddDocumentIcon_mc5mtf.png", 
							alt: "All Documents"),
							documents_path %>
		</div>
		<div class="col-md-6">
			<%= link_to image_tag("http://res.cloudinary.com/apuorientation/image/upload/v1433189633/StudentIcon_y3vbbe.png", 
							alt: "View Students' List"),
							students_accounts_path %>
		</div>						
		
		<div class="col-md-6">
			<%= link_to "All Documents", documents_path %>
		</div>
		<div class="col-md-6">
			<%= link_to "Students Records", students_accounts_path %>
		</div>
	</div>
</div>