<h1>Main Menu</h1>

<table>
	<tr>
		<td>Image</td>
		<td>Image2</td>
		<td>Image3</td>
	</tr>
	<tr>
		<td><%= link_to "Add Document", new_document_path %></td>
		<td><%= link_to "Archive Documents", documents_path %></td>
		<td><%= link_to "Students Records", students_accounts_path %></td>
	</tr>
</table>