<h1>Editing Document</h1>

<%= render 'form' %>

<%= link_to 'Show', @document %> |
<%= link_to 'Destroy', @document, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', documents_path %>
